.rc-slider-rail{
   background-color: #5b5b5b;
}

.rc-slider-track{
   background-color: #ff0000;
}

.all-sliders .rc-slider-track{
   background-color: #00B3FF;
}

.fuzzy-slider .rc-slider-track{
   background-color: #00ff03;
}

body{
   color: #cecece;
}